{% extends 'layout.html' %}

{% block body %}


  <div class="jumbotron text-center">
    <h1>Welcome To Your GrowBot</h1>
    <p class="lead">Use this website/web interface to control your GrowBot and get data from its sensors.</p>
  </div>
    <br>

    <h1>Growbot Video Feed</h1>
    <h3><img src="{{ url_for('videofeed') }}" width="50%"></h3>
    <hr>

  <div class="text-center">
    <img src="/static/images/OSHE_Logo.png" width="325" height="300" class="rounded" alt="Open Source Hardware Enterprise logo">
  </div>
    <br>


    <!-- // all of this is commented out because it is of no use currently -->

  <!-- <div class="text-center">
    <form action="/test" >
        <button class="btn btn-primary btn-sm" type="submit">Testing Button</button>
    </form>
    <br>
  </div>
  <div class="container">
    <form name="passdata" action="." method="POST">
      <label>Name:</label>
        <input type="text" name="NAME">
      <label>Times to loop:</label>
        <input type="number" name="I">
        <button class="btn btn-primary btn-sm" type="submit">Submit</button>
    </form>
  </div>

<br>
<br>

<div class="center">
  <form name="passdata2" action="." method="POST" class="form-inline">
    <div class="form-row">
      <label for="Name2" >Name: </label>
      <input type="text" class="form-control" id="Name2" placeholder="The text you wish to loop">
    </div>
    <div class="form-group">
      <label for="I2">Times to loop: </label>
      <input type="number" class="form-control" id="I2" placeholder="The number of repeats">
    </div>
    <button class="btn btn-primary btn-sm" type="submit">Submit</button>
  </form>
</div>

<br>
<br>

<div class="text-center">
  <form action="/calibrate" >
      <button class="btn btn-primary btn-sm" type="submit">Calibrate O-Drive</button>
  </form> -->

{% endblock %}
