{% extends 'layout.html' %}

{% block body %}
    <h1>About OSHE and the Growbot</h1>
    <p>The Growbot and all the corresponding harware and software was sudent designed and built at Michigan Technological University by the Open Source Hardware Enterprise Team. <a class="text-warning" href="https://www.appropedia.org/OSHE_Growbot" target="_blank">Click here to learn more about this project on Appropedia</a> and <a class="text-warning" href="https://www.appropedia.org/OSHE_Growbot_Standard_Operating_Procedures" target="_blank">click here to get to the page with the Standard Operating Procedures</a></p>
{% endblock %}
