<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">GrowBot</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active"><a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a></li>
      <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
      <!-- <li class="nav-item"><a class="nav-link" href="/calculator">Calculator</a></li> -->
      <li class="nav-item"><a class="nav-link" href="/growcam">GrowCam</a></li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Database
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/admin">Graphs</a>
          <a class="dropdown-item" href="/admin/sensor">Sensor Table</a>
          <a class="dropdown-item" href="/admin/sensorreading">Sensor Readings Table</a>
        </div>
      </li>
      <li class="nav-item"><a class="nav-link" href="/admin">Sensor Readings Database</a></li>
    </ul>

  </div>
</nav>
